<aside id="my-account-nav">
    <div class="nav-container">
        <%- include('./white-logo.ejs') %>
        <ul class="user-nav">
            <li>
                <a href="/my-account" class="<%= path === '/home' ? 'active' : '' %>">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/my-account/account" class="<%= path === '/my-account' ? 'active' : '' %>">
                    <i class="fa-solid fa-user"></i>
                    My Account
                </a>
            </li>
            <li>
                <a href="/my-account/settings" class="<%= path === '/settings' ? 'active' : '' %>">
                    <i class="fa-solid fa-gear"></i>
                    Settings
                </a>
            </li>
        </ul>
        <% if (user.role === 'admin') { %>
            <div class="admin">
                <p>Admin</p>
                <ul class="admin-nav">
                    <li>
                        <a href="/my-account/users" class="<%= path === '/users' ? 'active' : '' %>"> 
                            <i class="fa-solid fa-users"></i>
                            Users
                        </a>
                    </li>
                </ul>
            </div>
        <% } %>
    </div>
</aside>